---
- name: Install prerequisites
  apt:
    name:
      - wget
      - gnupg2
      - apt-transport-https
      - ca-certificates
    state: present
    update_cache: yes

- name: Download Zabbix repository package
  get_url:
    url: https://repo.zabbix.com/zabbix/7.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_7.0-2+ubuntu22.04_all.deb
    dest: /tmp/zabbix-release.deb
    mode: '0644'

- name: Install Zabbix repository
  apt:
    deb: /tmp/zabbix-release.deb
    state: present

- name: Update APT cache
  apt:
    update_cache: yes

- name: Install MySQL Server
  apt:
    name:
      - mysql-server
      - python3-pymysql
    state: present

- name: Start MySQL service
  systemd:
    name: mysql
    state: started
    enabled: yes

- name: Install Zabbix packages
  apt:
    name:
      - zabbix-server-mysql
      - zabbix-frontend-php
      - zabbix-nginx-conf
      - zabbix-sql-scripts
      - zabbix-agent
    state: present

- name: Create Zabbix database
  mysql_db:
    name: zabbix
    encoding: utf8mb4
    collation: utf8mb4_bin
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Create Zabbix MySQL user
  mysql_user:
    name: zabbix
    password: "zabbix_password"
    priv: 'zabbix.*:ALL'
    host: localhost
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Set log_bin_trust_function_creators
  mysql_variables:
    variable: log_bin_trust_function_creators
    value: 1
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Check if schema exists
  mysql_query:
    login_db: zabbix
    query: "SELECT COUNT(*) as count FROM information_schema.tables WHERE table_schema = 'zabbix'"
    login_unix_socket: /var/run/mysqld/mysqld.sock
  register: zabbix_tables

- name: Import Zabbix schema
  shell: zcat /usr/share/zabbix-sql-scripts/mysql/server.sql.gz | mysql --default-character-set=utf8mb4 -uzabbix -pzabbix_password zabbix
  when: zabbix_tables.query_result[0][0].count | int == 0

- name: Reset log_bin_trust_function_creators
  mysql_variables:
    variable: log_bin_trust_function_creators
    value: 0
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Configure Zabbix DB password
  lineinfile:
    path: /etc/zabbix/zabbix_server.conf
    regexp: '^# DBPassword='
    line: 'DBPassword=zabbix_password'

- name: Configure Nginx for Zabbix
  template:
    src: nginx-zabbix.conf.j2
    dest: /etc/nginx/conf.d/zabbix.conf

- name: Remove default Nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Configure Zabbix Frontend
  template:
    src: zabbix.conf.php.j2
    dest: /etc/zabbix/web/zabbix.conf.php
    owner: www-data
    group: www-data
    mode: '0600'

- name: Start Zabbix services
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - zabbix-server
    - zabbix-agent
    - php8.1-fpm

- name: Restart Nginx
  systemd:
    name: nginx
    state: restarted
    enabled: yes

- name: Wait for Zabbix API
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "apiinfo.version"
      params: []
      id: 1
  register: zabbix_api
  until: zabbix_api.status == 200
  retries: 12
  delay: 10

- name: Authenticate to Zabbix API
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "user.login"
      params:
        username: "Admin"
        password: "zabbix"
      id: 1
  register: zabbix_auth

- name: Get Linux servers group
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "hostgroup.get"
      params:
        filter:
          name: "Linux servers"
      auth: "{{ zabbix_auth.json.result }}"
      id: 1
  register: linux_group

- name: Get Linux template
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "template.get"
      params:
        filter:
          host: "Linux by Zabbix agent"
      auth: "{{ zabbix_auth.json.result }}"
      id: 1
  register: linux_template

- name: Add node01 to Zabbix
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "host.create"
      params:
        host: "node01"
        groups:
          - groupid: "{{ linux_group.json.result[0].groupid }}"
        templates:
          - templateid: "{{ linux_template.json.result[0].templateid }}"
        interfaces:
          - type: 1
            main: 1
            useip: 1
            ip: "192.168.56.21"
            dns: ""
            port: "10050"
      auth: "{{ zabbix_auth.json.result }}"
      id: 1
  failed_when: false

- name: Add node02 to Zabbix
  uri:
    url: "http://localhost/api_jsonrpc.php"
    method: POST
    body_format: json
    body:
      jsonrpc: "2.0"
      method: "host.create"
      params:
        host: "node02"
        groups:
          - groupid: "{{ linux_group.json.result[0].groupid }}"
        templates:
          - templateid: "{{ linux_template.json.result[0].templateid }}"
        interfaces:
          - type: 1
            main: 1
            useip: 1
            ip: "192.168.56.22"
            dns: ""
            port: "10050"
      auth: "{{ zabbix_auth.json.result }}"
      id: 1
  failed_when: false
