---
- name: Install Nginx
  dnf:
    name: nginx
    state: present

- name: Create web root
  file:
    path: "{{ nginx_root }}"
    state: directory
    owner: nginx
    group: nginx
    mode: '0755'

- name: Deploy web page
  template:
    src: index.html.j2
    dest: "{{ nginx_root }}/index.html"
    owner: nginx
    group: nginx
    mode: '0644'

- name: Configure Nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    backup: yes

- name: Stop Nginx (managed by cluster)
  systemd:
    name: nginx
    enabled: no
    state: stopped
